*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.body{
    background-color: white;
    color: blue;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

.header{
    background-color: silver;
    width: 100%;
    overflow: auto;
   
}

.cabecera{
    overflow: auto;

}

.titulo{
    font-size: 70px;
    float: left;
    margin: 1%;
    border-style: groove;
    border-color: blue;
}

.login{
    float: right;
    margin-block: 2rem;
}

.navega{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: silver;
    display: flex;
    justify-content: center;
}

a{
    display: inline-flex;
    text-decoration: none;
    padding: 10px;
    align-items: center;
    font-size: 15px;
    color: black;
}
a:hover{
    color: white;
    
}

.navega a:hover{
    color: white;
    background-color: black;
}

.contenedor{
    background-color: silver;
    margin: auto;
    
}

.enlaces{
    display: flex;
    color: blue;
    justify-content: space-around;
}

.pie{
    list-style-type: none;
}

.pie li a{
    padding: 5px;
}

.copy{
    background-color: #0f0961;
    display: flex;
    color: white;
    justify-content: space-around;
}

h4, h2{
    text-align: center;
}

.registro{
    width: 100%;
    padding: 10px;
        
}

.f-registro{
    width: 40%;
    max-width:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: silver;
    padding: 20px;
}
.f-registro input{
    display: flex;
    font-size: 13px;
    margin-bottom: 18px;
    width: 45%;
    height:30px
    
}
.f-registro select{
    margin-bottom: 20px;
    width: 45%;
    height:30px
}
.f-registro input[type="submit"]{
    text-align: center;
    padding: 10px;
    border:none;
    background: rgb(100,200,255);
    cursor: pointer;
    width: 30%;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px auto;
}
.radio{
    display: flex;
    font-size: 13px;
    font-weight: bold;
}
.condiciones{
    display: block;
    margin-bottom: 5px;
}

.catalogo{
    width: 100%;
    margin: 40px auto;
}
.fila{
    display: flex;
    justify-content:space-around;
    margin-bottom: 70px;
   
}
.item{
    max-width: 210px;
    padding:  30px;
    height: 250px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}
.item:hover{
    background-color: rgb(227, 227, 233);
    border-color: #0f0961;
}
.item img{
    width: 100%;
    
}
.descripcion{
    color: blue;
    font-weight: bold;
}
.precio{
    color: red;
    font-weight: bold;
    font-size: 20px;
}