*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.body{
    background-color: white;
    color: blue;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

.header{
    background-color: silver;
    width: 100%;
    overflow: auto;
   
}

.cabecera{
    overflow: auto;

}

.titulo{
    font-size: 50px;
    float: left;
    margin: 1%;
    border-style: groove;
    border-color: blue;
}

.login{
    float: right;
    margin-block: 2rem;
}

.navega{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: silver;
    display: flex;
    justify-content: center;
    background-color: rgb(98, 195, 233);
}

a{
    display: inline-flex;
    text-decoration: none;
    padding: 10px;
    align-items: center;
    font-size: 15px;
    color: black;
}
a:hover{
    color: white;
    
}

.navega a:hover{
    color: white;
    background-color: black;
}

.contenedor{
    background-color: silver;
    margin: auto;
    
}

.enlaces{
    display: flex;
    color: blue;
    justify-content: space-around;
}

.pie{
    list-style-type: none;
}

.pie li a{
    padding: 5px;
}

.copy{
    background-color: #0f0961;
    display: flex;
    color: white;
    justify-content: space-around;
}

h4, h2{
    text-align: center;
}

.registro{
    width: 100%;
    padding: 10px;
        
}

.f-registro{
    width: 50%;
    max-width:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: silver;
    padding: 20px;
}
input:not([type="submit"]){
    display: flex;
    font-size: 13px;
    margin-bottom: 18px;
    width: 50%;
    height:30px;
    font-weight: bold;
}
.f-registro select{
    margin-bottom: 20px;
    width: 50%;
    height:30px
}

.radio{
    display: inline-flex;
    font-size: 13px;
   
    
}
.condiciones{
    display: block;
    margin-bottom: 5px;
}

.catalogo{
    width: 100%;
    margin: 40px auto;
}
.fila{
    display: flex;
    justify-content:space-around;
    margin-bottom: 70px;
   
}
.item{
    max-width: 210px;
    padding:  20px;
    height: 250px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}
.item:hover{
    background-color: rgb(227, 227, 233);
    border-color: #0f0961;
}
img{
    width: 100%;
    
}
.descripcion{
    color: blue;
    font-weight: bold;
}
.precio{
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.perfil{
    display: flex;
    padding: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
  
}
.foto{
    max-width: 250px;
    padding:  10px;
    border-style: ridge;
    background-color: white;
}
.e-perfil{
    background-color: silver;
    width: 30%;
}
.f-perfil{
   display: block;
   margin-left: 10px ;
}
.datos-perfil{
    background-color: silver;
    width: 40%;
    border-style: ridge;
    justify-content: space-between;
}
.f-perfil input{
    display: block;
    margin-bottom: 10px;
    
}
.boton{
    display: flex;
    padding: 15px;
    justify-content:space-around;
}
input[type="submit"]{
    background-color: rgb(243, 42, 42);
    color: white;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
.f-perfil textarea{
    margin-top: 5px;
    display: block;
}
.redes-sociales{
    display: flex;
}